<%- include('partials/header') %>

<h1>Titulo de la pagina</h1>

<h3>Ingresar a la aplicación por el <a href="/login">Login</a></h3>
<!-- <img src="/public/img/diagrama-er.png" alt=""> -->


<%- include('partials/footer') %>